<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.baizhi.entity.Article" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="publicTime" property="publictime" jdbcType="TIMESTAMP" />
    <result column="guruId" property="guruid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, author, content, publicTime, guruId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from article
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from article
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.baizhi.entity.Article" >
    insert into article (id, title, author,
      content, publicTime, guruId
      )
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR},
      #{content,jdbcType=VARCHAR}, #{publictime,jdbcType=TIMESTAMP}, #{guruid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baizhi.entity.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="publictime != null" >
        publicTime,
      </if>
      <if test="guruid != null" >
        guruId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="publictime != null" >
        #{publictime,jdbcType=TIMESTAMP},
      </if>
      <if test="guruid != null" >
        #{guruid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baizhi.entity.Article" >
    update article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="publictime != null" >
        publicTime = #{publictime,jdbcType=TIMESTAMP},
      </if>
      <if test="guruid != null" >
        guruId = #{guruid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.Article" >
    update article
    set title = #{title,jdbcType=VARCHAR},
        author = #{author,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      publicTime = #{publictime,jdbcType=TIMESTAMP},
      guruId = #{guruid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--分页展示-->
  <select id="selectArticlePage" resultType="Article">
    select
    <include refid="Base_Column_List" />
    from article
    limit #{benginRows},#{rows};
  </select>

  <!--查询总条数-->


  <!--查询总共有多少条数据-->
  <select id="conuntArticle" resultType="int">
    select count(1) from article

</select>
</mapper>